body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    gap: 4px;
    justify-content: center;
    margin-top: 30px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.piece_red {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: brown;
}

.piece_blue {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: blue;
}

#moveSelector {
    display: grid;
    gap: 4px;
    justify-content: center;
    margin-top: 30px;
}

.move_up {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
}

.move_down {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
}
